.header{
    height:460px; 
    position:relative;
    width:100%;
    display:flex;
   
     
    &__container{
        background:$color-blue;
        padding:25px 4px 80px 45px;
        display:flex;
        width:700px;
        height:100%;
        flex-wrap:wrap; 
    }

    &__left{
        background:blue;
        width:600px;
        height:100%;
        z-index:1;
        align-self:flex-end;
    }


    &__banner{
        display:flex;
    }

    &__nav{
        z-index:1; 
    }

    &__paragraph{ 
        flex:0 1 auto;
        margin-right:90px;
        margin-left:102px;  
        font-size:1.6em;
        color:$color-white;
        font-weight: bold;

    }

    &__separation{
        z-index:1;
        margin-bottom:180px;
        /*position:relative;*/
    }

    
    &__box2{
        background:linear-gradient( 90deg,rgba(255,255,255,0.15) 0%,rgba(255,255,255,0) 50%),$color-blue;
        height:500px;
        width:309px;
        position:relative;            
        left:-233px;          
        transform:$transform-skew;  
    }
    

    &__box3{
        background:linear-gradient(90deg,rgba(255,255,255,0.25) 0% , rgba(255,255,255,0) 50%),$color-blue;
        height:500px;
        width:335px;
        transform:$transform-skew;
        position:relative;
        left:-245px;    
    }

    &__box4{
        background: linear-gradient(90deg,rgba(255,255,255,.25) 0% ,rgba(255,255,255,0) 50%),$color-blue;
        height:500px;
        width:28px;
        transform:$transform-skew;
        position:relative;
        left:-15px;
    }
}