.header{
    height:495px; 
    position:relative;
    max-width:1200px;
    display:flex;
   
     
    &__container{
        background:linear-gradient(90deg,$color-blue 83%,transparent 83%);
        padding:25px 4px 80px 45px;
        display:flex;
        flex-direction:column;
        align-items:center;
        height:100%;
        flex-wrap:wrap; 
    }





    &__banner{
        display:flex;
        max-width:min-content;
    }

    &__nav{
        z-index:1; 
        font-size:1.2em;
    }

    &__paragraph{ 
        flex:0 1 auto;
        margin-right:190px;
        margin-left:122px;  
        font-size:2em;
        color:$color-white;
        font-weight: bold;

    }

    &-icon{
        display:none;
    }

    &__separation{
        position:relative;
        z-index:1;
        margin-bottom:180px;
        /*position:relative;*/
    }

    
    &__box2::after{
        content:"";
        background:linear-gradient(90deg,rgba(225, 255, 255, 0.2) 9% ,
                rgba(255,255,255, 0.1) 27%,rgba(255,255,255,0.2) 20%,
                 rgba(255,255,255,0) 52% , rgba(255,255,255,0.1) 40%,
                 rgba(255,255,255,0.1) 96%), $color-blue;
        height:600px;
        width:100%;
        position:absolute;            
        left:500px;          
        transform:$transform-skew;  
    }
}