.box-title{
    letter-spacing: 1px;
    color:$color-blue; 
    display:flex;
    width:390px;

    &__vector{
        width:10px;
        height:10px;
        margin-right:10px;

        
        
    }

    &__text{
        font-size:0.5em;
        font-weight:800; 
        text-transform: uppercase;
    }

}

.box-change{
    color:$color-white;
}
