.feature{
    background:$color-blue;
    height:550px;
    display:flex;
    position:relative;

    &__boxtext{
        width:350px;
        height:330px;
        position:relative;
        top:110px;
        margin-left:150px;
       
  
    }

    &__right{
        position:absolute;
        top:-8px;
        right:-2px;
    }


    
    &__left{
        position:absolute;

        right:-1px; 

    }
    
    &__img{
        width:767px;
        height:550px;
    }

    &__img1{
        width:390px;
        height:1022px;   
    }
} 


  

.features{
    margin-top:15px;
    

    &__title{
        font-weight:900;
    }

    &__sound{
        display:flex;
        margin-top:25px;
        
    }

    &__calendary{
        display:flex;
        margin-top:25px;
    }

    &__book{
        display:flex;
        margin-top: 25px;
    }

    &__box{
        background:$color-white;  
        margin-right:15px;
        width:35px;
        height:35px;
        border-radius:50%;
        margin-top:5px;

        
    }

    &__img{
        width:13px;  
        height:13px;

        &--1{
            margin-top:12px;
            margin-left:12px;        

        }

        &--2{
            margin-top:12px;
            margin-left:11px;   
        }

        &--3{
            margin-top:12px;
            margin-left:11px;
        }
        
        
    }

    &__paragraph{
        font-size:0.5em;
        color:$color-white;
    }


}
