.objetives{
    &__text{
        display:flex;
        flex-direction:column;
        align-items: center;
        width:480px;
        margin-top:155px;
    }

    &__title{
        font-size:1.5em;
        font-weight:900;
    }

    &__paragraph{
        font-size:1em;
        text-align:center;
        margin-top:20px;
        font-weight:500;  
        width:500px;
    }

    &__button{
        margin-top:15px;
        width:120px;
        height:30px;  
        background:$color-blue-dark;
        border-radius:20px;
    }

    &__link{
        color:$color-white;
        text-decoration: none;
        font-size:1em;  
        margin-left:45px;
    }

    &__box{
        width:30px;
        height:80px;
        border:2px solid red;
        border-radius:20px; 
        transform:rotate(25deg);
        position:relative;

        &--1{
            left:565px;  
            top:-165px; 
            border:2px solid $color-green;
        }

        &--2{
            right:35px;
            top:-165px;
            border:2px solid $color-green;
        }

        &--3{
            top:-155px;       
            left:605px;
            border:2px solid $color-blue;
        }
    }

    &__box1{     
        width:15px;
        height:45px;     
        border:2px solid red;
        border-radius:20px; 
        transform:rotate(25deg) ;
        position:relative;

        &--1{
            top:-435px;
            right:135px;
            border:1px solid $color-red;            
            
        }

        &--2{
            right:170px;  
            top:-225px;
            border:2px solid $color-violet;
        }

        &--3{
            top:-390px;
            left:525px;
            border:1px solid $color-red;
        }

        &--4{
            top:-470px;
            left:665px;
            border:1px solid $color-orange;
        }
    }

    &__box2{
        width:10px;
        height:28px;     
        border:2px solid red;
        border-radius:20px; 
        transform:rotate(25deg) ;
        position:relative;

        &--1{
            top:-630px;
            right:-45px; 
            border:2px solid $color-orange;     
        }

        &--2{
            top:-660px;  
            right:-660px;  
            border:2px solid $color-violet;
        }

        &--3{
            top:-520px; 
            right:195px; 
        }

        &--4{
            top:-540px; 
            left:75px;  
            border:2px solid $color-orange; 
        }

        &--5{
            left:360px;    
            top:-505px;
            border:2px solid $color-violet;
        }
    }
}