.process{
    display:flex;
    margin:0 130px;


    &__left{
        flex:1 0 auto;
        width:200px;
        margin-right:125px;
        margin-left:17px;
    }   

    &__right{
        width:350px; 
        margin-right:75px;

    }
}

.process-text{
    &__title{
        font-size:0.95em;
        font-weight:900;
        margin-top:8px;
    }

    &__paragraph{
        font-size:0.5em;
        margin-top:35px;
    }
}

.box-numbers{
    display:flex;
    flex-wrap: wrap;
    position:relative;


    &__one{
        margin-right:25px;
        margin-bottom:55px;
        
    }

    &__two{
        margin-right:25px;
        margin-bottom:15px;
    }

    &__three{
        margin-right:25px;
        position:absolute;
        z-index:1;
        
    }

    &__four{
        margin-right:25px;
        position:absolute;
        z-index:1;
        
    }
}

.boxestexts{
    background:$color-white;
    width:140px;
    height:140px;  
    box-shadow: 5px 5px 8px rgba(0,0,0,0.05);
    position:absolute;
    z-index:1;

    &--1{
        margin-top:85px;
        margin-left:-32px;        
    }

    &--2{
        margin-left:159px;
        margin-top:20px;  
    }

    &--3{
        margin-top:288px;
        margin-left:-32px;  
    }

    &--4{  
        margin-left:185px;   
        margin-top:230px;      
    }

    


    &__paragraph{
        font-size:0.5em;
        text-align:center;  
        margin-top:15px;

    }
}

.boxcolor{

    width:10px;
    height:228px;
    border-radius:30px; 
    transform: rotate(23deg);
    position:absolute;
    
    &--1{
        background:linear-gradient(180deg, rgba(255,255,255,0.25)0% , rgba(255, 255, 255, 0) 100%) , $color-blue;
        top:38px; 
        left:37px;             
    }

    &--2{
        background:linear-gradient(180deg, rgba(255,255,255,0.25)0% , rgba(255, 255, 255, 0) 100%) , $color-orange;
        top:-25px;   
        left:258px;    
    }

    &--3{
        background:linear-gradient(180deg, rgba(255,255,255,0.25)0% , rgba(255, 255, 255, 0) 100%) , $color-green;
        position:relative;
        top:245px;
        left:45px;    
    }

    &--4{
        background: linear-gradient(180deg, rgba(255,255,255,0.25)0% , rgba(255, 255, 255, 0) 100%) , $color-red;
        top:189px;
        left:265px; 
    }
}

.number{
    margin-top:20px;
    display:flex;
    justify-content: center;
    align-items:center;    

    &__box{
        width:30px;
        height:30px;
        border-radius:50%;
        opacity: 0.1;

        &--1{
            background:linear-gradient(180deg ,rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 100%), $color-blue;
        
        }

        &--2{
            background:linear-gradient(180deg ,rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 100%), $color-orange;
        
        }

        &--3{
            background:linear-gradient(180deg ,rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 100%), $color-green;
        }

        &--4{
            background:linear-gradient(180deg ,rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 100%), $color-red;
        
        }
    }

    &__title{
        position:absolute;
        margin-top:15px;
        font-weight:900;
        font-size:1.2em;
        text-transform: uppercase;

        &--1{
            color: $color-blue;
        }

        &--2{
            color:$color-orange;
        }

        &--3{
            color:$color-green;
        }

        &--4{
            color:$color-red;
        }
    }
}





