.header-box{
    margin-top:35px;
    margin-right:-425px;     

    &__title{
        margin-bottom:15px;
        width:50%;
    }
    

    &__bold--1{ 
        font-size:1.9em;
        font-weight:900;
        color:$color-white;
        
    }

    &__text{
        font-size:1.2em;
        color:$color-white;
        /*width:490px;*/
        width:58%;
    }

    &__button{
        width:143px;
        height:40px;
        font-weight:700;
        transition:all 2s;
        border-radius:30px;
        background-color:$color-white;
        padding-top:1px;
        margin-top:25px;
        display:flex;
        justify-content:center;
        align-items:center;
        

        &:hover,
        &:active{
            background-color:$color-orange;
        }
    }

 

    &__link{
        font-size:0.8em;
        color:#000;
        text-decoration:none;
        margin-top:-3px;
    }
}