.social{
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    position:absolute;
    top:55px;
    margin-left:35%;
   
    /*margin-left:18px;*/



    &__item{
        text-transform: uppercase;
        font-size:0.7em;
        transform:rotate(90deg); 
        font-weight:800;
        position:absolute;
        left:100%;

        &--2{
            top:110px;
            left:5px;
        }

        &--3{
            top:225px;
        }
    
    }
} 