.wedo{
    margin-top:80px;
    width:930px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-left:10%;

    &__title{
        color:$color-black;
        font-weight:900;
        font-size:1.9em;
    }

    &__boxes{
        display:flex;
        width:930px;
        justify-content:center;
        align-items:center;
        margin-top:55px;  
        margin-right:15px;
    }
}

.box{
    margin-right:73px; 

    &__img{
        width:90px;
        height:90px;
        border-radius:50%;

    }

    &__text{
        font-size:1.2em;
        font-weight:900; 
        width:250px;  
        margin-top:30px;
    }

    &__paragraph{
        font-size:0.9em;
        margin-top:10px;
    }
}