*{
    margin:0;
    padding:0;
}

html{
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
   position:relative
}

.row{
    max-width:1200px;
    margin:0 auto;
}

.section-intro{
    position: relative;
    top:-75px;
    width:100%;
    margin-bottom:5%;
}  

.section-about{ 
    margin-top:-45px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    
}

.section-process{
    margin-top:185px;
}

.section-feature{
    margin-top:159px;
    height:510px;   
}

.section-testimonials{
    margin-top:145px;
}

.section-objetives{
    margin-top:235px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:320px;
}

.section-information{
    margin-top:-125px;   
    display:flex;
    justify-content:center;
    align-items:center;
}

#body{
    display:none;
}

 