*{
    margin:0;
    padding:0;
}

html{
    overflow-x: hidden;
    box-sizing: border-box;
}

body{
   position:relative;
}

.row{
    background:red;
    max-width:1200px;
    margin:0 auto;
}

.section-intro{
    height:500px;
    position: relative;
    top:-105px;
    width:100%;
}  

.section-about{ 
    margin-top:-99px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    
}

.section-process{
    margin-top:155px;
}

.section-feature{
    margin-top:69px;
    height:510px;   
}

 