.size{
    height:15px;
    width:12px;
}

.margin{
    margin-right:85px;  
}

.callp{
    font-size:0.5em;
    font-weight:600;
    text-transform: uppercase;
}

.texts{
    font-size:0.8em;
    font-weight:900;
    color:$color-blue;
    text-transform: uppercase;
}

.imgs{
    width:25px;
    height:25px;
}
